@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@layer components {
  .font-heading {
    @apply font-black italic tracking-tight text-stone-800 dark:text-stone-100;
  }
  .font-free-lunch {
    font-feature-settings: 'dlig', 'liga', 'calt';
    @apply font-freeLunch;
  }
  .font-title {
    @apply font-free-lunch
    /*
    */
    bg-gradient-to-r
    from-east-bay-500
    via-green-metal-500
    to-coral-600
    to-70%
    bg-clip-text
    pb-2 text-4xl tracking-tight
    text-transparent
    dark:from-east-bay-400
    dark:via-green-metal-400
    dark:to-coral-500
    sm:text-5xl
    lg:text-6xl;
  }

:root {
  --textshadowsize: 2px;
      --textshadowcolor: rgb(255 255 255 / .6);
}

.dark {
  --textshadowcolor: rgb(28 25 23 / .6);
}

.text-shadow-outline {
  text-shadow: calc(0px - var(--textshadowsize)) calc(0px - var(--textshadowsize)) 0 var(--textshadowcolor),
  var(--textshadowsize) calc(0px - var(--textshadowsize)) 0 var(--textshadowcolor),
  calc(0px - var(--textshadowsize)) var(--textshadowsize) 0 var(--textshadowcolor),
   var(--textshadowsize) var(--textshadowsize) 0 var(--textshadowcolor);
}

.page-title {
  @apply relative;
}
  .page-title h1 {
    @apply font-title relative z-10;

  }
  .page-title-backdrop {
    --textshadowsize: 3px;

     @apply text-shadow-outline font-title absolute inset-0 z-0;
  }




  .link-hover-colors {
    @apply transition-colors duration-150 ease-in-out hover:text-primary-600 dark:hover:text-primary-300;
  }

  .link-colors {
    @apply text-primary-700   dark:text-primary-400;
  }

  .link-underline {
    @apply underline decoration-primary-500/20 hover:decoration-primary-500 dark:decoration-primary-400/30 dark:hover:decoration-primary-400;
  }

  .text-link {
    @apply link-colors link-underline font-semibold;
  }

  .text-above-stars {
    backdrop-filter: blur(1px);
    background: rgba(255 255 255 / 0.5);
    box-shadow: 0 0 10px 10px rgba(255 255 255 / 0.5);
    @apply text-shadow-outline;
  }

  .dark .text-above-stars {
    background: rgba(28 25 23 / 0.5);
    box-shadow: 0 0 10px 10px rgba(28 25 23 / 0.5);
  }


}
